<h3>0. Exploratory analysis</h3>

In [8]:
import json
import pandas as pd

df_training=pd.read_json('project_files/training.json')
df_devel=pd.read_json('project_files/training.json')
df_docs=pd.read_json('project_files/documents.json')
df_testing=pd.read_csv('project_files/testing2.json')

In [5]:
df_training.head()

,answer_paragraph,docid,question,text
0,23,0,A kilogram could be definined as having a Plan...,6966662606895999999♠6.62606896×10−34 j⋅s
1,22,0,What is the shape of the object that establish...,cylinder
2,12,0,What example is given as another paired relati...,time vs. energy
3,1,0,What does the Planck Constant refer to?,quantum of action
4,10,0,When was the first quantized model of the atom...,1913

In [6]:
df_docs.head()

   docid                                               text
0      0  [First recognized in 1900 by Max Planck, it wa...
1      1  [Public policy and political leadership helps ...
2      2  [In a career spanning more than four decades, ...
3      3  [Anti-aircraft warfare or counter-air defence ...
4      4  [The Endangered Species Act of 1973 (ESA; 16 U...

In [12]:
df_testing=pd.read_csv('project_files/testing2.json')

In [ ]:
df_testing.head()

In [7]:
df_devel.head()

,answer_paragraph,docid,question,text
0,23,0,A kilogram could be definined as having a Plan...,6966662606895999999♠6.62606896×10−34 j⋅s
1,22,0,What is the shape of the object that establish...,cylinder
2,12,0,What example is given as another paired relati...,time vs. energy
3,1,0,What does the Planck Constant refer to?,quantum of action
4,10,0,When was the first quantized model of the atom...,1913

<h3>1. Question processing</h3>

<h3>2. Candidate answering generation</h3>